
$background-gray: rgba(var(--b3f,250,250,250),1);

$medium-gray:rgb(150, 150, 150);
$dark-gray: rgb(120,120,120);
$border-gray: rgb(211, 211, 211);

$button-m-blue: rgb(51, 135, 214);
$button-m-blue-active: rgb(154, 182, 247)