
@import "_variables";

.comments-container{
    border-left: 1px solid $border-gray;
    border-right: 1px solid $border-gray;
}

.comment-container{
    display: flex;
    width: calc(100% - 30px);
    min-height: 15px;
    padding-left: 13px;
    margin: 2px;

    .comment-text{
        margin: 0 5px;
    }

    .button-remove{
        width: 15px;
        display: none;
        margin-left: auto;
        align-self: flex-start;
    }

    .button-remove:hover{
        cursor: pointer
    }
}

.comment-container:hover{
    .button-remove{
        display:block;
    }
}

.comment-form{
    display: flex;
    border: 1px solid $border-gray;
    padding: 15px;

    input[type] {
        width: 100%;
        border: 1px solid white;
    }

    input[type]:focus {
        outline: none;
    }
    
    input[type]::placeholder {
        font-family: 'Roboto', sans-serif;
        color: $medium-gray;
        font-weight: 900;
    }

    button{
        align-self: flex-end;
        border: none;
        background-color: white;
        color: rgb(4, 130, 247);
    }

    button[disabled]{
        color: rgb(116, 160, 202)
    }
}
