
@import "_variables";

.comments-container{
    

    .comment-form{
        display: flex;
        border-top: 1px solid $border-gray;
        margin-top: 15px;
        padding: 15px;

        input[type] {
            width: 100%;
            border: 1px solid white;
        }

        input[type]:focus {
            outline: none;
        }
        
        input[type]::placeholder {
            font-family: 'Roboto', sans-serif;
            color: $medium-gray;
            font-weight: 900;
        }

        button{
            align-self: flex-end;
            border: 1px solid red;
            color: blue;
        }

    }

    
    
}
