
@import "_variables";

.feed{
    padding-top: 100px;
    width: 100%;

    .index-item{
        width: 100%;
        max-width: 720px;
        margin: 0px auto 30px auto;
        background: white;

        display: flex;
        flex-direction: column;

        .bold{
            font-family: 'Roboto', sans-serif;
            color: black;
            font-weight: 900;
        }

        .item-user-info{
            padding: 15px;
            border-top: 1px solid $border-gray;
            border-right: 1px solid $border-gray;
            border-left: 1px solid $border-gray;

                a{
                    display: inline-flex;
                    align-items: center;
                    text-decoration: none;
                    color: black;
                    
                    .item-user-picture{
                        width: 30px;
                        border-radius: 100%;
                        border: 1px solid $border-gray;
                    }
                }

        }

        .item-user-description{
            display: flex;
            margin-top: 10px;
        }

        .item-user-username{
            padding-left: 15px; 
            padding-right: 5px;
        }

        .item-info-image{
            width: 100%;
            min-height: 300px;
            max-height: 700px;
        }

        .like-button{
            padding: 15px;
            width: 30px;
        }

        .like-button:hover{
            cursor: pointer
        }

        .likes{
            padding-left: 15px; 
        }

    }
}