
@import "_variables";

.feed{
    padding-top: 100px;
    width: 100%;

    .index-item{
        width: 100%;
        max-width: 935px;
        margin: 0px auto 30px auto;
        background: white;

        display: flex;
        flex-direction: column;

        .item-user-info{
            padding: 15px;
            border-top: 1px solid $border-gray;
            border-right: 1px solid $border-gray;
            border-left: 1px solid $border-gray;

                a{
                    display: inline-flex;
                    align-items: center;
                    color: black;
                    
                    .item-user-picture{
                        width: 30px;
                        border-radius: 100%;
                        border: 1px solid $border-gray;
                    }
                }
        }

        .item-user-description{
            display: flex;
            min-height: 15px;
            padding-top: 12px;
        }

        .item-user-username{
            padding-left: 15px; 
            padding-right: 5px;
        }

        .item-info-image{
            width: calc(100% - 2px);
            min-height: 300px;
            max-height: 700px;
            border: 1px solid $border-gray;
        }

    }
}

.item-buttons-likes-description{
    border-left: 1px solid $border-gray;
    border-right: 1px solid $border-gray;

    .like-button:hover{
        cursor: pointer
    }

    .likes{
        padding-top: 12px;
        padding-left: 15px; 
    }

    .button-row{
        padding-top: 12px;
        padding-left: 15px;

        .button-image{
            width: 30px;
            padding-right: 10px;
        }
    }
}