
@import "_variables";

.modal-background{
    display: flex;
    align-items: center;

    position: fixed;
    z-index: 10;
    height: 100%;
    width: 100%;


    background: rgba(0, 0, 0, 0.5);
}

.modal-child{
    width: 935px;
    margin: 0 auto
}


@media (max-width: 935px){
    .modal-background{
        //align-items: none;
        justify-content: center;
    }

    .modal-child{
        width: 90%;
        height: 90%;
        align-self: center;
    }
}