
@import "_variables";

.post-container{
    display: flex;

    .photo-container{
        display:flex;
        justify-content: center;
        width: 600px;
        height: 600px;
        background: black;
    }

    .photo-right{
        display: flex;
        flex-direction: column;
        height: 600px;
        width: 335px;
        background: white;
    }
}


.photo{
    height: 600px;
}

.poster-link-container{
    display: flex;
    align-items: center;
    padding: 20px 0 0px 20px;

    .profile-picture{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: 1px solid $border-gray;
        object-fit: cover;
    }

    p{
        margin-left: 15px;
        font-size: 16px;
    }
}

.poster-link-person:hover{
    cursor: pointer
}

// comment portion

.photo-right{

    .item-user-description{
        padding: 5px 0 2px 75px;

        p{
            padding-left:0px
        }
    }

    .comments-container{
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: scroll;
        margin-top: 10px;
        padding: 10px 20px;
        border: none;
        border-top: 1px solid $border-gray;
        border-bottom: 1px solid $border-gray;

        .comment-container{
            width: 100%;
            min-height: 17px;
            padding: 0px;
        }

    }

    .comment-form{
        border-bottom:none;
    }

    .item-buttons-likes-description{
        margin-bottom: 10px;

        .button-row, .likes{
            padding-left: 20px;
        }
    }

}
