
@import "_variables";

.post-container{
    display: flex;

    .photo-container{
        display:flex;
        justify-content: center;
        width: 600px;
        height: 600px;
        background: black;
    }

    .photo-right{
        display: flex;
        flex-direction: column;
        height: 600px;
        width: 335px;
        border: 1px solid $border-gray;
        background: white;
    }
}


.photo{
    height: 600px;
    width: 100%;
    object-fit: contain;
}

.poster-link-container{
    display: flex;
    align-items: center;
    padding: 20px 0 0px 20px;

    .poster-link-image{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: 1px solid $border-gray;
        object-fit: cover;
    }

    .delete-button{
        height: 20px;
        width: 20px;
        margin: 0px 30px 0px auto;
    }

    .delete-button:hover{
        cursor: pointer;
    }

    p{
        margin-left: 15px;
        font-size: 16px;
    }
}

.poster-link-person:hover{
    cursor: pointer
}

// comment portion

.photo-right{

    .item-user-description{
        padding: 5px 13px 2px 78px;

        p{
            padding-left:0px
        }
    }

    .comments-container{
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: scroll;
        margin-top: 10px;
        padding: 10px 20px;
        border: none;
        border-top: 1px solid $border-gray;
        border-bottom: 1px solid $border-gray;

        .comment-container{
            width: 100%;
            min-height: 17px;
            padding: 0px;
        }

    }

    .comment-form{
        border:none;
        border-top: 1px solid $border-gray
    }

    .item-buttons-likes-description{
        border: none;

        .button-row, .likes{
            padding-left: 20px;
        }

        .likes{
            padding-top: 8px
        }
    }

    .post-date{
        border: none;
        padding: 8px 0 15px 21px
    }

}

@media (max-width: 935px){
    .post-container{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .photo-container{
        width: 90%;
        max-height: 400px;
    }

    .photo-right{
        height: 100%;
        max-height: 400px;
        width: 90%;

        .comments-container{
            min-height: 100px;
        }
    }

    .photo{
        height: 100%;
    }
}
