
@import "_variables";

.profile-container{
    padding-top: 100px;
    width: 100%;

    .profile-info, .profile-posts{
        width: 100%;
        max-width: 720px;
        margin: 0px auto 30px auto;
    }
}

.profile-info{
    display: flex;
    padding: 0 0 30px 15px;
    border-bottom: 1px solid $border-gray;
    
    .profile-picture{
        width:150px;
        height:150px;
        border: 1px solid $border-gray;
        border-radius: 100%;
    }

    .profile-info-right{
        padding-left: 30px;
        flex-grow: 1;
        align-self: center;
    }
}

.profile-user{
    display: flex;
    align-items: center;
    
    p{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 900;
    }

    .profile-edit-button{
        background: white;
        border: 1px solid $border-gray;
        border-radius: 5px;
        font-size: 14px;
        padding: 5px 10px;
        margin: 0px 10px 0px 15px;
    }

    .profile-edit-button:hover{
        cursor: pointer;
    }

    .profile-edit-button:active{
        color: rgb(155, 155, 155)
    }
    .profile-edit-button:focus{
        outline: none;
    }

    .logout-button{
        width: 20px;
    }
    .logout-button:hover{
        cursor: pointer;
    }

}

.profile-stats{
    display: flex;
    margin-top: 20px;

    .stat-count{
        font-size: 16px;
        margin-right: 5px
    }

    .stat-label{
        font-size: 16px;
        font-weight: 500;
    }
}

.profile-stats > li{
    display: flex;
    margin-right: 18px;
}

.profile-bio{
    font-size: 16px;
    font-weight: 500;

    padding-top: 20px;
}