
@import "_variables";


.MissingUser{
    position: fixed;
    top: 200px;
    right: calc(50% - 99px);
    color: rgb(155, 33, 33)
}


.profile-container{
    padding-top: 100px;
    width: 100%;

    .profile-info, .profile-posts{
        max-width: 935px;
        margin: 0px auto 30px auto;
    }
}

.profile-info{
    display: flex;
    padding: 0 0 30px 15px;
    border-bottom: 1px solid $border-gray;
    
    .profile-picture-container{
        display: flex;
        justify-content: center;
        width: 30%;
        

        .profile-picture{
            object-fit: cover;
            width:150px;
            height:150px;
            border: 1px solid $border-gray;
            border-radius: 100%;
        }
    }

    .profile-info-right{
        padding-left: 20px;
        align-self: center;
    }
}

.profile-user{
    display: flex;
    align-items: center;
    
    p{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 900;
    }

    .profile-edit-button{
        background: white;
        border: 1px solid $border-gray;
        border-radius: 5px;
        font-size: 14px;
        padding: 5px 10px;
        margin: 0px 10px 0px 15px;
    }

    .profile-edit-button:hover{
        cursor: pointer;
    }

    .profile-edit-button:active{
        color: rgb(155, 155, 155)
    }
    .profile-edit-button:focus{
        outline: none;
    }

    .logout-button{
        width: 20px;
    }
    .logout-button:hover{
        cursor: pointer;
    }

    .follow-button{
        margin-left: 20px;
        padding: 5px 20px;

        background: rgb(51, 135, 214);
        border: 1px solid rgb(51, 135, 214);
        border-radius: 5px;

        color: white;
    }

    .follow-button:hover{
        cursor: pointer
    }

    .follow-button:active{
        background: rgb(154, 182, 247)
    }

}

.profile-stats{
    display: flex;
    margin-top: 20px;

    .stat-count{
        font-size: 16px;
        margin-right: 5px
    }

    .stat-label{
        font-size: 16px;
        font-weight: 500;
    }
}

.profile-stats > li{
    display: flex;
    margin-right: 18px;
}

.profile-bio{
    width: 400px;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 500;
}

.profile-posts{
    display: flex;
    flex-wrap: wrap;
    padding-left: 3.5%;

    .profile-post-container{
        position: relative;
        width: 33%;
        padding-bottom: 33%;
    }

}

.profile-post-thumbnail{
    position: absolute;
    object-fit: cover;
    width: 90%;
    height: 90%;


}

.profile-post-container:hover{
    cursor: pointer;

    .post-stats{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.post-stats{
    display: none;
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: rgba(41, 40, 40, 0.51);

    [class*=post-stat-]{
        display: flex;
        align-items: center;
    }

    p{
        color: white;
        margin-left: 5px
    }
    

    img{
        width: 20px;
        height: 20px;
        margin-left: 10px
    }
}

